.mainContainer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2.5rem;
  row-gap: 1.75rem;
}

.profileContainer {
  display: flex;
  width: 100%;
  max-width: 24rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 1.25rem;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition-duration: 300ms;

  &:hover {
    transform: translateY(-0.75rem);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.execBGColour {
  background: linear-gradient(
    to top,
    rgb(255 255 255),
    var(--color-primary-100)
  );
}

.directorBGColour {
  background: linear-gradient(
    to top,
    rgb(255 255 255),
    var(--color-primary-50)
  );
}

.pictureWrapper {
  position: relative;
  display: flex;
  height: 16rem;
  width: 16rem;
  align-items: center;
  justify-content: center;
}

.picture {
  height: 16rem;
  width: 16rem;
  border-radius: 9999px;
  object-fit: cover;
  transition-property: opacity;
  transition-duration: 300ms;
}

.linkedInIcon {
  position: absolute;
  height: 4rem;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 300ms;
}

.linkedInIcon > img {
  filter: invert(20%) sepia(100%) saturate(5000%) hue-rotate(200deg)
    brightness(90%) contrast(90%);
}

.hoverEnabled:hover .picture {
  opacity: 0.3;
}

.hoverEnabled:hover .linkedInIcon {
  opacity: 1;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1.25rem;
}

.name {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 600;
}

.position {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(107 114 128);
  text-transform: uppercase;
}

.links {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.logo {
  height: 2rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }
}

.section {
  margin-bottom: 2rem;
  width: 100%;
}

.sectionTitle {
  color: var(--color-primary-600);
  margin-top: 1rem;
  text-align: center;
  font-size: 1.875rem;
  font-weight: 700;
}

.profileGrid {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
