.mainContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.sectionContainer {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
}

// media query later
.title {
  margin-bottom: 2.5rem;
  font-size: 2.25rem;
  font-weight: 500;
}

.executivesContainer {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5rem;
}

.profileContainer {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 5rem;
}
