@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overscroll-behavior: none;
}

body {
  font-family: Inter, Helvetica, sans-serif;
  @apply text-primary-800;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  h1 {
    @apply text-8xl font-bold;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-lg font-semibold;
  }

  p {
    @apply text-lg;
  }
}
