.yearSelectorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.arrowButton {
  border: none;
  font-size: 1.875rem;
  cursor: pointer;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.5;

  &:hover {
    transform: scale(1.25);
  }

  &:active {
    transform: scale(1);
  }

  &:disabled {
    cursor: default;
    opacity: 0.2;
    transform: none;
  }
}

.yearDisplay {
  font-size: 1.875rem;
  font-weight: 700;
  margin-left: 1rem;
  margin-right: 1rem;
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
